extends layout

block content
  include swapper
  .no-jump
    #headerContent.transitionContent.bootstro(data-bootstro-title='Header', data-bootstro-content='This is the header section.', data-bootstro-placement='bottom', data-bootstro-step='1')
      
    #contentContent.transitionContent.bootstro(data-bootstro-title='Main content', data-bootstro-content="This is the main content. Make sure to explore all it's features!", data-bootstro-placement='bottom', data-bootstro-step='2')
      
    #footerContent.transitionContent.bootstro(data-bootstro-title='Footer', data-bootstro-content='At the bottom you can find footer.', data-bootstro-placement='top', data-bootstro-step='3')
   
  include readme