doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/half-slider.css')
    link(rel='stylesheet', href='/stylesheets/transitions.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstro.css')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css')
    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/bootstro.js')
    script(src='/javascripts/scripts.js')
  body
    block content
