#info.modal.fade(role='dialog')
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        button(type='button', class='close', data-dismiss='modal') &times;
        h4.modal-title README
      .modal-body
        p <i>The Preview Page</i> allows to quickly swap different, 
          | predefined layout components and see how do they match together.
        p There are 3 different elements that can be changed:
          ul
            li header,
            li content,
            li footer.
        p Click buttons on the sides of the page to change the components
        p This tool and the layouts were developed using:
          ul
            li Node.js, jQuery, AJAX,
            li Bootstrap, Jade, Styl.
      .modal-footer
        p Code: 
          a(href='https://bitbucket.org/razgul/') https://bitbucket.org/razgul/
       