a(class='social-media-link', href='https://www.facebook.com/RentMyWay', target='_blank') #[span.fa.fa-facebook-square]
a(class='social-media-link', href='https://www.twitter.com/RentMyWay', target='_blank') #[span.fa.fa-twitter-square]
a(class='social-media-link', href='https://www.linkedin.com/in/kassrose', target='_blank') #[span.fa.fa-linkedin-square]
a(class='social-media-link', href='mailto:apps@rentlucky.com?Subject=Rent%20My%20Way') #[span.fa.fa-envelope-square]