#swappings.bootstro(data-bootstro-title='Hi!', data-bootstro-content='The Preview Page allows you to quickly compare different templates of headers, main contents and footers, all written in Jade.', data-bootstro-placement='bottom', data-bootstro-step='0')
  .swappingLeft.header.swapperButton.bootstro(data-type='header', data-bootstro-title='Find what suits you', data-bootstro-content='Header is a special content type can have different behaviour. In example, it can stick to the top of the page.', data-bootstro-placement='right', data-bootstro-step='6')
  .swappingRight.header.swapperButton.bootstro(data-type='header', data-bootstro-title='Arrows on the sides', data-bootstro-content="The arrows on the sides are used to controll the contents of each section. Hovering over one will blure out the sections it won't affect.", data-bootstro-placement='left', data-bootstro-step='4')
  .swappingLeft.content.swapperButton.bootstro(data-type='content', data-bootstro-title='Enjoy!', data-bootstro-content="The designs are responsive, meaning they are ready to use on mobiles, tablets and desktops. Check out all the other tamplates!", data-bootstro-placement='right', data-bootstro-step='7')
  .swappingRight.content.swapperButton.bootstro(data-type='content', data-bootstro-title='Changing content', data-bootstro-content="Pressing the buttons will change the content. Each change makes use of AJAX.", data-bootstro-placement='left', data-bootstro-step='5')
  .swappingLeft.footer.swapperButton(data-type='footer')
  .swappingRight.footer.swapperButton(data-type='footer')
