extends header-template
block header
  nav.navbar.navbar-inverse.navbar-static-top
    a.navbar-brand(href='#') #[img.logo(src='https://rentmyway.com/images/logo.png')}
    .quoteContent
      .quote
        i A social way of renting.