extends header-template
block header
  .blocker
    nav.navbar.navbar-inverse.navbar-fixed-top
      a.navbar-brand(href='#') #[img.logo(src='https://rentmyway.com/images/logo.png')}
      ul.nav.navbar-nav.navbar-right
        li
          p.navbar-text Already have an account?
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            b Login
            span.caret
          ul#login-dp.dropdown-menu
            li
              .row
                .col-md-12
                  | Login via
                  .social-buttons
                    a.btn.btn-fb(href='#')
                      i.fa.fa-facebook
                      |  Facebook
                    a.btn.btn-tw(href='#')
                      i.fa.fa-twitter
                      |  Twitter
                  |                                 or
                  form#login-nav.form(role='form', method='post', action='login', accept-charset='UTF-8')
                    .form-group
                      label.sr-only(for='exampleInputEmail2') Email address
                      input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='')
                    .form-group
                      label.sr-only(for='exampleInputPassword2') Password
                      input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='')
                      .help-block.text-right
                        a(href='') Forget the password ?
                    .form-group
                      button.btn.btn-primary.btn-block(type='submit') Sign in
                    .checkbox
                      label
                        input(type='checkbox')
                        |  keep me logged-in
                .bottom.text-center
                  | New here ? 
                  a(href='#')
                    b Join Us