extends header-template
block header
  nav.navbar.navbar-inverse.navbar-static-top
    a.navbar-brand(href='#') #[img.logo(src='https://rentmyway.com/images/logo.png')}
    form#signin.navbar-form.navbar-right(role='form')
      .input-group
        span.input-group-addon #[i.fa.fa-user]
        input#email.form-control(type='email', name='email', value='', placeholder='Email Address')  
      .input-group
        span.input-group-addon #[i.fa.fa-lock]
        input#password.form-control(type='password', name='password', value='', placeholder='Password')                                        
      button.btn.btn-primary(type='submit') Login