footer {
  font-size: 12px;
}
footer p {
  margin-bottom: 6px;
}
footer .right {
  text-align: right;
}
footer .social-media-link {
  font-size: 32px;
  padding-right: 15px;
}
footer .social-media-link:last-of-type {
  padding-right: 0px;
}
