/*!
 * Start Bootstrap - Half Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.carousel {
    height: 400px;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.carousel-caption {
    left: initial;
    right: initial;
    width: 100%;
    margin-bottom: 0px;
    bottom: 0px;
    padding-bottom: 0px;
}

.textHolder{
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 20px;
    padding-top: 0px;
}  

.carousel-indicators{
    bottom: 0px;
    padding-bottom:0px;
} 

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#estateAgent{
    background-position: center top;
}