/* Global styles */
* {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
body.modal-open-noscroll {
  margin-right: 0 !important;
}
.modal-open-noscroll .navbar-default,
.modal-open .navbar-default {
  margin-right: 0 !important;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.clear {
  clear: both;
}
.table {
  display: table;
}
.table .cell {
  display: table-cell;
  vertical-align: middle;
}
/* Header, content and footer containers */
#headerContainer {
  overflow: hidden;
  z-index: 1;
}
#headerContainer .navbar-static-top {
  z-index: 1;
}
#contentContainer {
  overflow: hidden;
  z-index: 1;
}
#footerContainer {
  overflow: hidden;
  z-index: 1;
}
/* Elements used for controlling the content of the Previev Page */
#swappings > .swappingRight,
#swappings > .swappingLeft {
  z-index: 10000;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 30px;
  font-size: 48px;
  opacity: 0.2;
  background: #000;
}
#swappings > .swappingRight:hover,
#swappings > .swappingLeft:hover {
  opacity: 0.5;
  cursor: pointer;
}
#swappings > .swappingLeft {
  left: 0;
}
#swappings > .swappingLeft:before {
  content: '<';
}
#swappings > .swappingRight {
  right: 0;
}
#swappings > .swappingRight:before {
  content: '>';
}
#swappings > .header {
  top: 0;
  height: 30vh;
  line-height: 30vh;
}
#swappings > .content {
  top: 30vh;
  height: 40vh;
  line-height: 40vh;
}
#swappings > .footer {
  top: 70vh;
  height: 30vh;
  line-height: 30vh;
}
/* elements controlling change animation */
.faded {
  opacity: 0.1;
}
.highlighted {
  border-radius: 50px;
  box-shadow: 0 20px 20px 0 #c2c2c2;
}
/* Headers */
.navbar-brand {
  height: initial;
}
.navbar-brand img {
  display: block;
}
@media (max-width: 768px) {
  .navbar-brand {
    transform: scale(0.8, 0.8);
  }
}
@media (max-width: 520px) {
  .navbar-brand {
    transform: scale(0.65, 0.65);
  }
}
@media (max-width: 320px) {
  .navbar-brand {
    transform: scale(0.5, 0.5);
  }
}
.navbar {
  background: rgba(102,102,102,0.6);
  border-bottom: 0px;
  margin-bottom: 0px;
}
.navbar.halfBackground,
.navbar.halfBackground2,
.navbar.halfBackground3 {
  background: linear-gradient(180deg, #1b9dbd 50%, rgba(255,255,255,0.5) 50%);
  display: table;
  width: 100%;
  border-bottom: none;
}
.navbar.halfBackground .slogan,
.navbar.halfBackground2 .slogan,
.navbar.halfBackground3 .slogan {
  font-size: 24px;
  display: table-cell;
  vertical-align: middle;
  color: #000;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
@media (min-width: 768px) {
  .navbar.halfBackground .slogan,
  .navbar.halfBackground2 .slogan,
  .navbar.halfBackground3 .slogan {
    font-size: 36px;
  }
}
@media (min-width: 986px) {
  .navbar.halfBackground .slogan,
  .navbar.halfBackground2 .slogan,
  .navbar.halfBackground3 .slogan {
    font-size: 48px;
  }
}
@media (max-width: 520px) {
  .navbar.halfBackground .slogan,
  .navbar.halfBackground2 .slogan,
  .navbar.halfBackground3 .slogan {
    vertical-align: bottom;
    text-align: center;
  }
}
.navbar.halfBackground2 {
  background: linear-gradient(180deg, #1b9dbd 50%, rgba(255,255,255,0) 50%);
}
.navbar.halfBackground2 .navbar-brand {
  background: #1b9dbd;
  border-radius: 50%;
}
.navbar.halfBackground2 .slogan {
  width: 100%;
  vertical-align: bottom;
  text-align: center;
}
@media (min-width: 768px) {
  .navbar.halfBackground2 .slogan {
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .navbar.halfBackground2 .slogan {
    padding-bottom: 15px;
  }
}
@media (max-width: 520px) {
  .navbar.halfBackground2 .slogan {
    padding-bottom: 0px;
  }
}
.navbar .navbar-form {
  padding-right: 50px;
}
@media (max-width: 768px) {
  .navbar .navbar-form .input-group {
    padding-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-form .input-group {
    padding-right: 5px;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-form {
    padding-top: 40px;
  }
}
.navbar .navbar-form .btn-primary {
  color: #9b9c9d;
  background-color: #fff;
  border-color: #eee;
}
.navbar .navbar-form .btn-primary:hover {
  color: #666;
  background-color: #eee;
  border-color: #666;
}
.navbar-fixed-top {
  background: rgba(102,102,102,0.8);
  color: #fff;
}
.navbar-fixed-top ul {
  padding: 40px;
}
@media (max-width: 768px) {
  .navbar-fixed-top ul {
    padding: 0px;
    padding-left: 20px;
  }
}
.navbar-fixed-top ul li p {
  color: #d6d6d6 !important;
}
.navbar-fixed-top ul li a {
  color: #d6d6d6 !important;
}
@media (max-width: 768px) {
  .navbar-fixed-top .navbar-brand {
    display: none;
  }
}
#login-dp {
  z-index: 21;
  color: #333;
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
}
#login-dp .help-block {
  font-size: 12px;
}
#login-dp .bottom {
  background-color: rgba(255,255,255,0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
  background-color: inherit;
  border-top: 0 none;
}
#login-dp .social-buttons {
  margin: 12px 0;
}
#login-dp .social-buttons a {
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}
.btn-tw {
  color: #fff;
  background-color: #55acee;
}
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}
@media (max-width: 768px) {
  #login-dp {
    background-color: inherit;
    margin-right: 30px;
    margin-left: 30px;
  }
}
.quoteContent {
  position: relative;
  display: table;
  text-align: center;
  height: 136px;
  font-size: 26px;
  color: #fff;
}
.quoteContent .quote {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.blocker {
  height: 135px;
}
/* Contents */
#tourButton {
  font-size: 48px;
}
.fill#landlords {
  background-image: url("/images/landlord.jpg");
}
.fill#estateAgent {
  background-image: url("/images/estateAgent.jpg");
}
@media (min-width: 1024px) {
  .fill#estateAgent {
    background-position: center 0px;
  }
}
.fill#renters {
  background-image: url("/images/houses-big.jpg");
}
@media (max-width: 320px) {
  .fill#renters {
    background-image: url("/images/houses-small.jpg");
  }
}
@media (max-width: 768px) {
  .fill#renters {
    background-image: url("/images/houses.jpg");
  }
}
section.module:last-child {
  margin-bottom: 0;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 350px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("/images/houses-big.jpg");
  position: relative;
}
section.module.parallax .container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}
section.module.parallax .container .container,
section.module.parallax .container h1 {
  color: rgba(255,255,255,0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
  line-height: 470px;
}
@media all and (min-width: 600px) {
  section.module.parallax .container .container,
  section.module.parallax .container h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax .container .container,
  section.module.parallax .container h1 {
    font-size: 160px;
  }
}
section.module.parallax.questions {
  background-image: url("/images/questions.jpg");
}
section.module.parallax.pets {
  background-image: url("/images/pets.jpg");
}
section.module.parallax.reading {
  background-image: url("/images/reading.jpg");
}
section.module.parallax.traveling {
  background-image: url("/images/traveling.jpg");
}
footer {
  font-size: 12px;
}
footer p {
  margin-bottom: 6px;
}
footer .right {
  text-align: right;
}
footer .social-media-link {
  font-size: 32px;
  padding-right: 15px;
}
footer .social-media-link:last-of-type {
  padding-right: 0px;
}
footer .linkFooterSpace {
  padding: 5px;
}
footer {
  padding: 20px;
  padding-bottom: 10px;
}
footer.darkFooter {
  color: #666;
  background-color: #000;
}
footer.darkFooter .logo {
  width: 100%;
  height: auto;
}
footer.darkFooter .text {
  margin-top: 30px;
}
@media (max-width: 768px) {
  footer.darkFooter .text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
footer.greyFooter {
  background-color: #19272c;
  color: #fff;
}
footer.greyFooter h2 {
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}
footer.greyFooter .stats {
  padding-bottom: 15px;
}
footer.greyFooter .stats h3 {
  font-size: 16px;
}
footer.greyFooter .stats span {
  font-size: 28px;
  color: #f25111;
}
footer.greyFooter .statsContainer {
  border-bottom: 1px dotted;
  margin-bottom: 15px;
}
footer.greyFooter .disclaimer {
  padding-top: 10px;
  color: #777;
}
footer.simple {
  margin-top: 20px;
  box-shadow: 0px -2px 15px -1px #999;
  -webkit-box-shadow: 0px -2px 15px -1px #999;
  -moz-box-shadow: 0px -2px 15px -1px #999;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* Extra small devices (smartphones, less then 768px ) */
@media (max-width: 768px) {
  .text-justify-xs {
    text-align: justify;
  }
  .text-center-xs {
    text-align: center;
  }
  .text-right-xs {
    text-align: right;
  }
  .padding-bot-xs {
    padding-bottom: 15px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text-justify-sm {
    text-align: justify;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-right-sm {
    text-align: right;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-justify-md {
    text-align: justify;
  }
  .text-center-md {
    text-align: center;
  }
  .text-right-md {
    text-align: right;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text-justify-lg {
    text-align: justify;
  }
  .text-center-lg {
    text-align: center;
  }
  .text-right-lg {
    text-align: right;
  }
}
