/* Global styles */

*
  transition:         all 0.5s ease
  -webkit-transition: all 0.5s ease
  -moz-transition:    all 0.5s ease
  -ms-transition:     all 0.5s ease
  -o-transition:      all 0.5s ease

body.modal-open-noscroll 
  margin-right: 0!important

.modal-open-noscroll .navbar-default, .modal-open .navbar-default 
  margin-right: 0!important

.container
  padding-left: 30px
  padding-right: 30px

.clear
  clear:both

.table
  display table
  .cell
    display table-cell
    vertical-align middle
/* Header, content and footer containers */

#headerContainer
  overflow: hidden
  z-index:1

  .navbar-static-top
    z-index: 1
#contentContainer
  overflow: hidden
  z-index:1
#footerContainer
  overflow: hidden
  z-index:1

/* Elements used for controlling the content of the Previev Page */
#swappings >
  .swappingRight, .swappingLeft
    z-index:10000
    color: white
    text-align: center
    position: fixed
    width: 30 px
    font-size: 48px
    opacity: 0.2
    background: black
    &:hover
      opacity: 0.5
      cursor: pointer
  .swappingLeft
    left: 0
    &:before
      content: '<'
  .swappingRight
    right: 0    
    &:before
      content: '>'
  .header
    top: 0
    height: 30 vh
    line-height: 30 vh
  .content
    top: 30vh
    height: 40 vh
    line-height: 40 vh
  .footer
    top: 70vh
    height: 30 vh
    line-height: 30 vh

/* elements controlling change animation */
.faded
  opacity: 0.1

.highlighted
  border-radius: 50px
  box-shadow: 0 20px 20px 0 #C2C2C2

/* Headers */

.navbar-brand
  height: initial
  img
    display: block
  @media (max-width: 768px)
    transform: scale(0.8,0.8)
  @media (max-width: 520px)
    transform: scale(0.65,0.65)

  @media (max-width: 320px)
    transform: scale(0.5,0.5)

.navbar
  background: rgba(102,102,102, 0.6)
  border-bottom: 0px
  margin-bottom: 0px
  &.halfBackground, &.halfBackground2, &.halfBackground3
    background: linear-gradient(180deg, #1B9DBD 50%, rgba(255,255,255,0.5) 50%)
    display: table; 
    width: 100%
    border-bottom: none
    .slogan
      font-size: 24px
      display: table-cell; 
      vertical-align: middle;
      @media (min-width: 768px)
        font-size: 36px
      @media (min-width: 986px)
        font-size: 48px
      @media (max-width: 520px)
        vertical-align: bottom
        text-align: center
      color: #000;
      text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
      color: #FFF
      text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
      
  &.halfBackground2
    background: linear-gradient(180deg, #1B9DBD 50%, rgba(255,255,255,0.0) 50%)
    .navbar-brand
      background: #1B9DBD
      border-radius: 50%
    .slogan
      width: 100%
      vertical-align: bottom
      text-align: center
      @media (min-width: 768px)
        padding-bottom: 10px
      @media (max-width: 768px)
        padding-bottom: 15px  
      @media (max-width: 520px)
        padding-bottom: 0px
  .navbar-form
    padding-right: 50px
    .input-group
      @media (max-width: 768px)
        padding-bottom:5px
      @media (min-width: 768px)
        padding-right: 5px
    @media (min-width: 768px)
      padding-top:40px
    .btn-primary
      color #9B9C9D
      background-color #FFF
      border-color #EEEEEE
      &:hover
        color #666
        background-color #EEEEEE
        border-color #666  

.navbar-fixed-top
  background rgba(102,102,102, 0.8)
  color #FFF
  ul
    padding: 40px
    @media(max-width: 768px)
      padding 0px
      padding-left 20px
    li
      p
        color #D6D6D6 !important
      a
        color #D6D6D6 !important
  .navbar-brand
    @media(max-width: 768px)
      display none

#login-dp
  z-index:21
  color: #333
  min-width 250px
  padding 14px 14px 0
  overflow hidden
  background-color rgba(255,255,255,.8)
  .help-block
    font-size 12px
  .bottom
    background-color rgba(255,255,255,.8)
    border-top 1px solid #ddd
    clear both
    padding 14px
    background-color inherit
    border-top 0 none
  .social-buttons
    margin 12px 0
    a
      width 49%
  .form-group
    margin-bottom 10px

.btn-fb
  color #fff
  background-color #3b5998
  &:hover
    color #fff
    background-color #496ebc

.btn-tw
  color #fff
  background-color #55acee
  &:hover
    color #fff
    background-color #59b5fa

@media(max-width: 768px)
  #login-dp
    background-color inherit
    margin-right 30px
    margin-left 30px
  color #fff

.quoteContent
  position: relative;
  display: table; 
  text-align: center;
  height: 136px;  
  font-size: 26px;
  color: #FFF;
  .quote    
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 

.blocker
  height: 135px
/* Contents */

#tourButton
  font-size: 48px;
.fill#landlords
  background-image: url('/images/landlord.jpg')

.fill#estateAgent
  background-image: url('/images/estateAgent.jpg')
  @media (min-width: 1024px)
    background-position: center 0px

.fill#renters 
  background-image: url('/images/houses-big.jpg')
  @media (max-width: 320px)
    background-image: url('/images/houses-small.jpg')
  @media (max-width: 768px)
    background-image: url('/images/houses.jpg')

section.module:last-child
  margin-bottom: 0
section.module p
  margin-bottom: 40px
  font-size: 16px
  font-weight: 300
section.module p:last-child
  margin-bottom: 0
section.module.content
  padding: 40px 0
section.module.parallax
  height: 350px
  background-position: 50% 50%
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  background-image: url('/images/houses-big.jpg')
  position:relative
  .container
    max-width: 960px
    height: 100%
    margin: 0 auto
    .container
    h1 
      color: rgba(255, 255, 255, 0.8)
      font-size: 48px
      line-height: 600px
      font-weight: 700
      text-align: center
      text-transform: uppercase
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
      line-height: 470px
      @media all and (min-width: 600px)
        font-size: 96px
      @media all and (min-width: 960px)
          font-size: 160px
section.module.parallax.questions
  background-image: url('/images/questions.jpg')
section.module.parallax.pets
  background-image: url('/images/pets.jpg')
section.module.parallax.reading
  background-image: url('/images/reading.jpg')
section.module.parallax.traveling
  background-image: url('/images/traveling.jpg')

footer
  font-size: 12 px

  p
    margin-bottom: 6px

  .right
    text-align: right

  .social-media-link
    font-size: 32px
    padding-right: 15px
    &:last-of-type
      padding-right: 0px

  .linkFooterSpace
    padding: 5px
  
footer
  padding 20px
  padding-bottom 10px
footer.darkFooter
  color: #666
  background-color: #000;
  .logo
    width:100%
    height:auto
  .text
    margin-top 30px
    @media (max-width: 768px)
      margin-top 15px
      margin-bottom 15px

footer.greyFooter
  background-color #19272C
  color #FFF
  h2
    font-size 24px
    text-transform uppercase
    border-bottom 2px solid
    padding-bottom 5px
  .stats
    padding-bottom 15px
    h3
      font-size 16px
    span
      font-size 28px
      color #F25111
  .statsContainer
    border-bottom 1px dotted
    margin-bottom 15px
  .disclaimer
    padding-top 10px
    color: #777
footer.simple
  margin-top 20px
  box-shadow: 0px -2px 15px -1px #999
  -webkit-box-shadow: 0px -2px 15px -1px #999
  -moz-box-shadow: 0px -2px 15px -1px #999
.text-justify
  text-align: justify
.text-center
  text-align: center
.text-right
  text-align: right

/* Extra small devices (smartphones, less then 768px ) */
@media (max-width: 768px)
  .text-justify-xs
    text-align: justify
  .text-center-xs
    text-align: center
  .text-right-xs
    text-align: right

  .padding-bot-xs
    padding-bottom: 15px

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
  .text-justify-sm
    text-align: justify    
  .text-center-sm
    text-align: center
  .text-right-sm
    text-align: right

  .padding-bot-sm
    padding-bottom

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
  .text-justify-md
    text-align: justify
  .text-center-md
    text-align: center
  .text-right-md
    text-align: right

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
  .text-justify-lg
    text-align: justify
  .text-center-lg
    text-align: center
  .text-right-lg
    text-align: right