extends content-template
block mainContent
  .container
    form.form-horizontal
      fieldset
        // Form Name
        legend Forms example
        // File Button
        .form-group
          label.col-md-4.control-label(for='filebutton') File Button
          .col-md-4
            input#filebutton.input-file(name='filebutton', type='file')
        // Select Basic
        .form-group
          label.col-md-4.control-label(for='selectbasic') Select Basic
          .col-md-4
            select#selectbasic.form-control(name='selectbasic')
              option(value='1') Option one
              option(value='2') Option two
        // Select Multiple
        .form-group
          label.col-md-4.control-label(for='selectmultiple') Select Multiple
          .col-md-4
            select#selectmultiple.form-control(name='selectmultiple', multiple='multiple')
              option(value='1') Option one
              option(value='2') Option two
        // Text input
        .form-group
          label.col-md-4.control-label(for='textinput') Text Input
          .col-md-4
            input#textinput.form-control.input-md(name='textinput', placeholder='placeholder', type='text')
            span.help-block help
        // Multiple Checkboxes
        .form-group
          label.col-md-4.control-label(for='checkboxes') Multiple Checkboxes
          .col-md-4
            .checkbox
              label(for='checkboxes-0')
                input#checkboxes-0(name='checkboxes', value='1', type='checkbox')
                |       Option one
            .checkbox
              label(for='checkboxes-1')
                input#checkboxes-1(name='checkboxes', value='2', type='checkbox')
                |       Option two
        // Multiple Radios (inline)
        .form-group
          label.col-md-4.control-label(for='radios') Inline Radios
          .col-md-4
            label.radio-inline(for='radios-0')
              input#radios-0(name='radios', value='1', checked='checked', type='radio')
              |       1
            label.radio-inline(for='radios-1')
              input#radios-1(name='radios', value='2', type='radio')
              |       2
            label.radio-inline(for='radios-2')
              input#radios-2(name='radios', value='3', type='radio')
              |       3
            label.radio-inline(for='radios-3')
              input#radios-3(name='radios', value='4', type='radio')
              |       4
        // Multiple Checkboxes (inline)
        .form-group
          label.col-md-4.control-label(for='checkboxes') Inline Checkboxes
          .col-md-4
            label.checkbox-inline(for='checkboxes-0')
              input#checkboxes-0(name='checkboxes', value='1', type='checkbox')
              |       1
            label.checkbox-inline(for='checkboxes-1')
              input#checkboxes-1(name='checkboxes', value='2', type='checkbox')
              |       2
            label.checkbox-inline(for='checkboxes-2')
              input#checkboxes-2(name='checkboxes', value='3', type='checkbox')
              |       3
            label.checkbox-inline(for='checkboxes-3')
              input#checkboxes-3(name='checkboxes', value='4', type='checkbox')
              |       4
        // Button Drop Down
        .form-group
          label.col-md-4.control-label(for='buttondropdown') Button Drop Down
          .col-md-4
            .input-group
              input#buttondropdown.form-control(name='buttondropdown', placeholder='placeholder', type='text')
              .input-group-btn
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Action
                  span.caret
                ul.dropdown-menu.pull-right
                  li
                    a(href='#') Option one
                  li
                    a(href='#') Option two
                  li
                    a(href='#') Option three
        // Prepended checkbox
        .form-group
          label.col-md-4.control-label(for='prependedcheckbox') Prepended Checkbox
          .col-md-4
            .input-group
              span.input-group-addon
                input(type='checkbox')
              input#prependedcheckbox.form-control(name='prependedcheckbox', placeholder='placeholder', type='text')
            p.help-block help
        // Button (Double)
        .form-group
          label.col-md-4.control-label(for='button1id') Double Button
          .col-md-8
            button#button1id.btn.btn-success(name='button1id') Good Button
            button#button2id.btn.btn-danger(name='button2id') Scary Button
