extends content-template
block mainContent
  .jumbotron
    .container
      h1 Hello, World!
      p Lorerem Ipsum...
      p
        a#tourButton.btn.btn-primary.btn-lg(role='button') #[i.fa.fa-question-circle] CLICK ME