extends content-template
block mainContent
  section.module.parallax

  section.module.content
    .container
      .row
        .col-md-4
          h2 #[i.fa.fa-home] Renters
          p Show landlords who you are and exactly what you need. Be part of the
            | rental revolution.
        .col-md-4
          h2 #[i.fa.fa-key] Landlords
          p You need quality renters. We have them. Find the right tenants, what
            | people are willing to pay and how many renters are searching in your
            | area right now.
        .col-md-4      
          h2 #[i.fa.fa-briefcase] Property Managers & Real Estate Agents
          p Welcome to our community of quality renters. Let us do the work while
            | you get the credit.
  section.module.parallax