extends content-template
block mainContent
  #myCarousel.carousel.slide
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner
      .item.active
        .fill#renters
        .carousel-caption
          h2 Renters
          .textHolder
            p Show landlords who you are and exactly what you need. Be part of the
              | rental revolution.
      .item
        .fill#landlords
        .carousel-caption
          h2 Landlords
          .textHolder
            p You need quality renters. We have them. Find the right tenants, what
              | people are willing to pay and how many renters are searching in your
              | area right now.    
      .item
        .fill#estateAgent
        .carousel-caption
          h2 Property Managers & Real Estate Agents
          .textHolder
            p Welcome to our community of quality renters. Let us do the work while
              | you get the credit.
    a.left.carousel-control(href='#myCarousel', data-slide='prev')
      span.icon-prev
    a.right.carousel-control(href='#myCarousel', data-slide='next')
      span.icon-next