extends content-template
block mainContent
  form.form-horizontal
    fieldset
      section.module.parallax.questions
        .container
          h1 Questions
      section.module.content
        .container
          h2 Introduce yourself
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem  ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas. 
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis.
      section.module.parallax.pets

      section.module.content
        .container
          .form-group
            label.col-md-4.control-label(for='radios') Do you have pets?
            .col-md-4
              label.radio-inline(for='radios-0')
                input#radios-0(name='radios', value='1', type='radio')
                |       Yes
              label.radio-inline(for='radios-1')
                input#radios-1(name='radios', value='0', type='radio')
                |       No
           .form-group
            label.col-md-4.control-label(for='radios') Cats vs Dogs. Pick one:
            .col-md-4
              label.radio-inline(for='radiosvs-0')
                input#radios-0(name='radiosvs', value='cats', type='radio')
                |       Cats
              label.radio-inline(for='radios-1')
                input#radios-1(name='radiosvs', value='dogs', type='radio')
                |       Dogs
      section.module.parallax.traveling

      section.module.content  
        .container    
          .form-group
            label.col-md-4.control-label(for='textarea') What is you next trip destination?
            .col-md-4
              textarea#textarea.form-control(name='textarea')     
          .form-group
            label.col-md-4.control-label(for='textarea') What is the most breathtaking landscape you have ever seen?
            .col-md-4
              textarea#textarea.form-control(name='textarea') 
      section.module.parallax.reading

      section.module.content
        .container       
          .form-group
            label.col-md-4.control-label(for='textarea') What is your favourite book?
            .col-md-4
              textarea#textarea.form-control(name='textarea') default text
