extends footer-template
block footer
  footer.lightFooter
    .container
      .row
        .col-xs-12.text-center.padding-bot-xs
          include ../social_media_links
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-offset-0
          .row
            .col-md-6.col-sm-4.col-xs-4
              p Email
            .col-md-6.col-sm-8.col-xs-8
              p contact@rentmyway.com
          .row
            .col-md-6.col-sm-4.col-xs-4
              p Phone
            .col-md-6.col-sm-8.col-xs-8
              p 5555-555-555
          .row
            .col-md-6.col-sm-4.col-xs-4
              p Adress
            .col-md-6.col-sm-8.col-xs-8
              p 123 Lorem St<br>
                | Seattle, WA<br>
                | 99999
      .row
        .col-xs-12.text-center
          a(href='#') Terms
          span.linkFooterSpace |
          a(href='#') Privacy 
          span.linkFooterSpace |
          a(href='#') Career
          span.linkFooterSpace |
          a(href='#') RentLucky
      