extends footer-template
block footer
  footer.simple
    .container
      .row
        .col-sm-6.col-xs-12.text-center
          h1 555-555-5555
        .col-sm-6.col-xs-12.text-center
          h1 email@example.com