extends footer-template
block footer
  footer.greyFooter
    .container
      .row
        .col-xs-12.text-center
          include ../social_media_links
      .row.statsContainer
        .col-xs-12
          h2 RentMyWay's Statistics
        .col-xs-6.col-sm-3.stats
          h3 Cups of Tea
          span 11820
        .col-xs-6.col-sm-3.stats
          h3 Cups of Coffe
          span 4971
        .col-xs-6.col-sm-3.stats
          h3 Renters
          span 2189
        .col-xs-6.col-sm-3.stats
          h3 Flats
          span 211
      .row
        .col-cs-12.text-center        
          a(href='#') Terms
          span.linkFooterSpace |
          a(href='#') Privacy 
          span.linkFooterSpace |
          a(href='#') Career
          span.linkFooterSpace |
          a(href='#') RentLucky
        .col-cs-12.text-center
          p.disclaimer 2015 All rights reserved