extends footer-template
block footer
  footer.darkFooter.raven
    .container
      .row
        .col-sm-2.col-xs-4.col-sm-push-5
          img.logo(src='https://rentmyway.com/images/logo.png')
        .col-sm-5.col-xs-8.col-sm-push-5.text-right-sm.padding-bot-xs
          p.text.text-center
            a(href='#') Terms
            span.linkFooterSpace |
            a(href='#') Privacy 
            span.linkFooterSpace |
            a(href='#') Career
            span.linkFooterSpace |
            a(href='#') RentLucky
        .col-sm-5.col-xs-8.col-sm-pull-7.padding-bot-xs.col-xs
          p.text.text-center 2015 RentMyWay All Rights Reserved