
hr
footer
  .row
    .col-md-6
      .row
        .col-md-6
          p Email
        .col-md-6
          p contact@rentmyway.com
      .row
        .col-md-6
          p Phone
        .col-md-6
          p 5555-555-555
      .row
        .col-md-6
          p Adress
        .col-md-6
          p 123 Lorem St<br>
            | Seattle, WA<br>
            | 99999
      a(href='#') Terms
      span.linkFooterSpace |
      a(href='#') Privacy 
    .col-md-6.right
      include social_media_links
  